.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: var(--max-width);
  overflow: visible;
}

.menu {
  position: sticky;
  top: 0px;
  height: 200px;
  z-index: 1;
  overflow: auto;
}

.note {
  font-size:  0.7em;
  line-height: 1.2em;
  text-align: right;
  color: #d1d1d1;
}

.diagramImg {
  display: flex;
  justify-content: center;
  align-content: center;
  border: black 1px solid;
  margin: 8px 0px;
  background-color: white;
}

.mediaImg {
  display: flex;
  align-content: center;
  margin: 8px 0px;
}

.media img {
  margin: 8px 0px;
  max-width: 720px;
}

.block {
  margin: 1em 0em;
}

.stage {
  display: grid;
  grid-template-columns: 15px 100%;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 10px;
}

.index li {
  margin-bottom: 0px;
  margin-left: 5px;
}

.red {
  color: red;
}

.yellow {
  color: orange;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.violet {
  color: violet;
}

.redL {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: red;
  align-self: center;
}

.yellowL {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: rgb(250, 234, 10);
  align-self: center;
}

.greenL {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: green;
  align-self: center;
}

.breakdown {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
}

.vroomWord {
  font-size: 1.2em;
  line-height: 1em;
  font-weight: 900;
  color: var(--rojo);
}

.engine {
  font-size: 0.8em;
  font-weight: 200;
}

.buy {
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: #d1d1d1 5px solid;

  margin: 16px;
  padding: 20px 20px;

  bottom: 0px;
  right: 0px;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1em;

  color: var(--white);
  background-color: var(--rojo);

  filter: drop-shadow(0 0 0.2rem rgba(0,0,0,0.4));
  transition: all 0.25s ease;
}

.footer {
  margin-top: 8em;
  text-align: left;
  font-size: 0.8em;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {
  .breakdown {
    grid-template-columns: 1fr;
  }

  .media img {
    max-width: 80%;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
